﻿
@{
    ViewData["Title"] = "Digital Health";
}

@{
    Layout = null;

}


<html>
<head>

    <link rel="icon" href="~/Index/img/favicon.png">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digital Health</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/Login/login.css" />





</head>

<body>
    <!--<h1>Login</h1> -->
    <!--
    <div class="container login-container">
        <form action="/Doktor/Login" method="post" id="DoktorLoginForm">
            <input type="text" name="Username" placeholder="Username" />
            <input type="password" name="Pass" placeholder="Password" />
            <input type="submit" />
        </form>
    </div>
        -->
    <div class="container login-container">

        <div class="col-md-6 login-form-1">
            <h3>Doktor</h3>
            <form action="/Login/Login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="Username" placeholder="Your Username *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="Pass" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <input type="hidden" name="lloji" value="Doktor" />
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>

    </div>
</body>
</html>