﻿
@{
    ViewData["Title"] = "Digital Health";
}

@{
    Layout = null;
}

<html>
<head>

    <link rel="icon" href="~/Index/img/favicon.png">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digital Health</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Login/login.css" />

</head>

<body>
    <div class="container login-container">
        <div class="row">

            <div class="col-md-6 login-form-2">
                <h3>Farmacist</h3>
                <form action="/Dashboard/farmacistLogin">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Username" placeholder="Your Username *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" placeholder="Your Password *" value="" />
                    </div>
                    <input type="hidden" name="lloji" value="Farmacist" />
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">

                        <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

