﻿
@{
    ViewData["Title"] = "Digital Health";
}

@{ 
    Layout = null;
}

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digital Health</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Login/login.css" />

</head>

    <body>
        <div class="container login-container">
            <div class="row">

                <div class="col-md-6 login-form-2">
                    <h3>Pacient</h3>
                    <form action="Login/">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Username" placeholder="Your Username *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="Password" placeholder="Your Password *" value="" />
                        </div>
                        <input type="hidden" name="lloji" value="Pacient" />
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">

                            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

