﻿
<h2>Login</h2>

@using (Html.BeginForm("shtyp", "Login", FormMethod.Post))
{ 
    <form>
        <input type="text" name="Username" placeholder="Username" />
        <input type="password" name="Pass" placeholder="Password"/>
        <input type="submit" name="submit" value="Login" />
    </form>
}


